body {
    background: rgb(175, 200, 255);
    font: normal 15pt Arial;
    color: black;
    text-align: center;
}

header {
    color: white;
}

section {
    font: normal 12pt Arial;
    color: black;

    background: rgb(228, 245, 255);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px gray;
}

div {
    text-align: center;
    padding: 10px;
}

section #imagem {
    width: 300px;
    height: 300px;
}

footer {
    font: normal 10pt Arial;
    color: white;
    font-style: italic;
    
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin: auto;
}